.file-container {
  position: fixed;
  top: 15vh;
  left: 20vw;

  width: 60vw;
  height: 50vh;

  display: block;
}

.error-div{
  /* display: none; */
  border: 2px solid red;
  border-radius: 2vmin;
  z-index: 1;

  display: none;

  padding: 0.1vmin;
  font-size: 1.5vmin;

  position: fixed;

  height: 10vh;
  width: 10vw;

  top: 10vh;
  right: 5vw;


}

.upload-json {
  font-size: 4vmin;
  width: 100%;
}

.upload-note{
   width: 100%;
   margin-top: 1vmin;
   font-size: 2vmin;
}

.main {
  height: 100%;
  width: 100%;

  background-color: white;
  border: 0.2vmin solid #161925;

  border-top-left-radius: 10vmin;
  border-top-right-radius: 2vmin;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 10vmin;
  box-shadow: 0.2vmin 0.2vmin 0.5vmin #0a0a0a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  align-content: center;
}

input[type="file"] {
  display: none;
  border: 2px solid blue;
}

.custom-file-upload {
  border: 0.2vmin solid #ccc;
  border-radius: 1vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  cursor: pointer;

  height: 100%;
  width: 100%;

  font-size: 2.5vmin;
}

.file-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border: 2px solid red; */

  width: 60%;
  height: 20%;
}

#fileinput {
  display: inline-block;
  align-content: center;
  border: 2px solid red;
  height: 100% !important;
  width: 100% !important;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

button.btn.btn-light.upload-btn {
  font-size: 2vmin;
  border: 0.3vmin solid #ccc;
}
