.widget-sidebar {
  height: 100vh;
  width: 40vw;
  background-color: white;

  position: fixed;
  top: 0px;
  left: 60vw;

  z-index: 10;
  display: none;

  /* transition: all ease .5s; */
}

.sidebar-header {
  height: 8%;
  background-color: #14147d;
  color: white;
  align-content: center;
}

.sidebar-footer {
  height: 8%;
  width: 40vw;
  color: gray;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row-reverse;
}

.cross-button {
  color: white;
  background-color: #14147d;
  border: none;
  margin-right: 2%;
  float: right;
}

.title {
  display: inline;
  margin-left: 2%;
}

.subtitle {
  margin: 2% 0% 0% 2%;
}

.cancel-button {
  margin: 2%;
  padding: 1% 3% 1% 3%;

  border: 1px solid #14147d;
  border-radius: 10px;

  color: #14147d;
  background-color: white;
}

.confirm-button {
  margin: 2%;
  padding: 1% 3% 1% 3%;

  border: none;
  border-radius: 10px;

  background-color: #14147d;
  color: white;
}

.navbar-nav {
  width: 50%;
  margin: 2% 0% 3% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-basis: 100%; */
}

.nav-link {
  margin: 0% !important;
  width: 100% !important;
  margin-bottom: 5% !important;
}

a.nav-link {
  border-bottom: 3px solid #e1e6eb;
  /* border: 2px solid blue; */
}

a.active {
  border-bottom: 3px solid black;
}

.widget-body{
  margin: 1%;
}