.myheader {
  height: 8%;
  width: 100%;

  background-color: black;
  color: white;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  align-content: center;
}

.main-heading{
    margin: 3%;
    padding: 5px;
}