.mycontainer {
  height: 92%;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;

  /* overflow-y: auto;
  scrollbar-width: none; */

  display: flex;
  flex-direction: column;
}

.dashboard-heading{
  display: inline;
  float: left;
}

.add-widget-button {
  display: inline;
float: right;
}

.no-result{
  height: 30vh !important;
  width: 100vw !important;
  color: red !important;

  display: flex !important;
  justify-content: center !important;
  align-content: center;
  align-items: center;
}