* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body{
  background-color: #F0F5FA !important;
}

#root {
  height: 100%;
  width: 100%;
  
}
